<header class="header header-intro-clearance header-3">
            
        
    <div class="header-middle">
        <div class="container">
            <a href="index.html" class="logo  mx-auto">
                <img src="user/assets/images/demos/demo-3/logo.png" alt="Molla Logo" width="105" height="25">
            </a>
            <!-- <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                
            </div> -->
            <!-- End .header-left -->

            

            <!-- End .header-right -->
            
        </div><!-- End .container -->
       
    </div><!-- End .header-middle -->

    
</header><!-- End .header -->